
<form class="ui active modal">
  <div class="header">New Person</div>
  <div class="content">
    <div class="ui form">
      <div class="field" [ngClass]="{'error': !nameIsValid() && !name.pristine}">
        <label>Name <span [hidden]="nameIsValid()">(required)</span></label>
        <input type="text" name="name" placeholder="Name"
          required
          [(ngModel)]="person.name"   
          #name="ngModel">
      </div>
      <div class="field">
        <label>Job</label>
        <input type="text" [(ngModel)]="person.job" name="job" placeholder="Job">
      </div>
      <div class="field">
        <label>Age</label>
        <input type="text" [(ngModel)]="person.age" name="age" placeholder="Age">
      </div>
       <div class="field">
        <label>Nickname</label>
        <input type="text" [(ngModel)]="person.nick" name="nick" placeholder="Nickname">
      </div>     
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" [(ngModel)]="person.employee" name="employee">
          <label>Emloyee</label>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button positive" (click)="onClickedSave()">Ok</div>
    <div class="ui button cancel" (click)="onClickedClose()">Close modal</div>
  </div>
</form>
